.jumboHome{
    background-image: url(img/homebanner.png);
    background-size: cover;
    padding: 5em ;
    min-height: 180px;
}

.jumboWords{
    color: white;
    font-size:5rem;
    text-align: right;

}
