.siteTitle {
    color: rgba(0,0,0,0.5);
    font-weight: bold;
    font-size: larger;
}

.header {
    background-color: aliceblue;
}

.navitem {
    color: rgba(0,0,0,0.5);
    display: block;
    padding: 0.5rem 0.5rem;
}